@font-face {
    font-family: 'Archivo', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
    font-weight: normal;
    font-style: normal;
  }
  
  @-webkit-keyframes linkhover {
    from {color: inherit;}
    to {color: gray;}
  }
  
  @keyframes linkhover {
    from {color: inherit;}
    to {color: gray;}
  }
  
  @-webkit-keyframes darkmodeclick {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes darkmodeclick {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

  @-webkit-keyframes rerender {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes rerender {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

  body {
    font-family: 'Archivo', sans-serif;
    color: white;
  }
  /* I swear to god I did this for a reason */
  body {
    transition: background-color 0.5s;
    background-color: #181b1c;
  }
  
  .darkheader {
    padding: 5vw;
    background-image: url(/storage/images/paisano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Archivo', sans-serif;
    transition: background-image 0.5s;
  }
  
  .header {
    padding: 5vw;
    background-image: url(/storage/images/bonneville.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Archivo', sans-serif;
    transition: background-image 0.5s;
  }

  a.headline {
    font-size: 2.5vw;
    font-weight: bold;
    padding-left: 2vw;
    display: inline-block;
    color: inherit;
  }

  .post .headline h1 {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .post .headline h1:hover {
    -webkit-animation-name: linkhover;
            animation-name: linkhover;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    color: gray;
  }
  
  h1 {
    color: white;
    background-color: black;
    font-size: 3vw;
    text-align: left;
    padding: 2vw;
    display: inline;
  }

  .blogpost h1 {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #bgcaption {
    background-color: black;
    margin: 0;
    padding: 1vw;
    font-size: 1vw;
  }

  .tagline {
    background-color: black;
    padding: 2vw;
    margin-top: 0;
    margin-bottom: 1vw;
    font-size: 3vw;
  }
  
  @media screen and (max-width: 800px) {
    h1 {
      color: white;
      background-color: black;
      font-size: 5vw;
      text-align: left;
      padding: 2.5vw;
      display: inline;
    }
  
    #bgcaption {
      display: none;
    }

    .tagline {
      background-color: black;
      padding: 2vw;
      margin-top: 0;
      margin-bottom: 1vw;
      font-size: 6vw;
    }
  
  }
  
  nav ul {
    font-size: 1.5vw;
    margin-top: 0;
    padding: 1vw;
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  @media screen and (max-width: 800px) {
    nav ul {
      font-size: 4vw;
      margin-top: 0;
      margin-bottom: 1vw;
      padding: 2vw;
      background-color: black;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
    }
  }
  
  .container {
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    flex-direction: row;
  }
  
  @media screen and (max-width: 800px) {
    .container {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-direction: column;
    }
  }
  
  .mainflex {
    padding-right: 1vw;
    flex: 2 1 auto;
  }
  
  @media screen and (max-width: 800px) {
    .mainflex {
      padding-right: 0;
      flex: 2 1 auto;
    }
  }
  
  a:link, a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    -webkit-animation-name: linkhover;
            animation-name: linkhover;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    color: gray;
  }
  
  .sidebarflex {
    padding: 1vw;
    padding-bottom: 2vw;
    flex: 1 0 10vw;
    background-color: black;
    flex-wrap: nowrap;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 1vw;
  }
  
  #darkmode {
    height: 4vw;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  #darkmode input {
    display: none;
  }
  
  .darkmodeswitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(https://kylemetscher.com/images/thesun.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .darkmodeswitch:active {
    -webkit-animation-name: darkmodeclick;
            animation-name: darkmodeclick;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }

  .switchedon:active {
    -webkit-animation-name: darkmodeclick;
            animation-name: darkmodeclick;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  
  .switchedon {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(https://kylemetscher.com/images/themoon.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  @media screen and (max-width: 800px) {
    .sidebarflex {
      padding: 1vw;
      background-color: black;
      flex-wrap: nowrap;
      align-self: stretch;
    }
  
    .sidebarflex h3 {
      margin-left: 2vw;
      margin-bottom: 0;
      font-size: 4vw;
    }

    .sidebarflex a {
      font-size: 3vw;
      text-decoration: underline;
    }

    .sidebarflex .archives {
      display: none;
    }
  
    #darkmode {
      margin-top: 2vw;
      margin-left: 2vw;
      height: 10vw;
      width: 100%;
      display: block;
      position: relative;
    }
    
    #darkmode input {
      display: none;
    }
    
    .darkmodeswitch {
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: url(https://kylemetscher.com/images/thesun.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    .darkmodeswitch:active {
      -webkit-animation-name: darkmodeclick;
              animation-name: darkmodeclick;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
    }
  
    .switchedon:active {
      -webkit-animation-name: darkmodeclick;
              animation-name: darkmodeclick;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
    }
    
    .switchedon {
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: url(https://kylemetscher.com/images/themoon.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  
  .tags {
    max-height: 10vw;
    overflow: scroll;
    line-height: 1.5;
  }

  .post {
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    background-color: black;
  }

  .post .headline {
    font-size: 2.5vw;
    padding-left: 0;
  }

  a.headline:hover {
    -webkit-animation-name: linkhover;
            animation-name: linkhover;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    color: gray;
  }
  
  .postpreview {
    padding-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    display: flex;
    align-items: flex-start;
    max-height: 20vw;
  }

  .filedunder {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.5vw;
  }
  
  ol.tagbox {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    list-style-position: inside;
    padding-left: 0;
  }
  
  .pubdatebox {
    margin-left: 2vw;
    font-size: 1.5vw;
  }

  .postslug {
    margin-top: 0;
    flex: 3 1 auto;
    padding-left: 1vw;
    font-size: 1.5vw;
    max-height: 20vw;
    overflow: hidden;
  }

  .featured {
    flex: 1 1 auto;
  }
  
   img.featured {
     max-height: 20vw;
  }
  
  @media screen and (max-width: 800px) {
    .tags {
      display: none;
    }

    a.headline {
      font-size: 5vw;
      font-weight: bold;
      padding-left: 3vw;
      display: inline-block;
    }
  
    .post {
      padding-top: 2vw;
      padding-bottom: 1vw;
      margin-bottom: 1vw;
      background-color: black;
    }
  
    .postpreview {
      padding-left: 3vw;
      margin-right: 3vw;
      margin-top: 2vw;
      display: flex;
      align-items: flex-start;
      max-height: 40vw;
    }
  
    .featured {
      flex: 1 2 1;
    }
  
     img.featured {
       max-height: 30vw;
    }
  
    .postslug {
      margin-top: 0;
      flex: 4 1 2;
      padding-left: 2vw;
      font-size: 3.5vw;
      max-height: 30vw;
      overflow: hidden;
    }
  
    #tagline {
      background-color: black;
      padding: 3vw;
      margin-top: 0;
      margin-bottom: 1vw;
      font-size: 5vw;
    }
  
    .filedunder {
      margin-left: 3vw;
      margin-right: 3vw;
      display: block;
      font-size: 3vw;
    }
  
    ol.tagbox {
      display: none;
    }
  
    .pubdatebox {
      margin-left: 3vw;
      font-size: 3vw;
    }
  
    .pubdate {
      margin-top: 0;
    }
  }
  
  ol.tags {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  @media screen and (max-width: 800px) {
    ol.tags {
      display: none;
      list-style-type: none;
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
    .archives {
      list-style-type: none;
      list-style: none;
      padding-left: 2vw;
      padding-top: 1vw;
    }
  }
  
  .archives {
    max-height: 10vw;
    overflow: scroll;
    line-height: 1.5;
  }
  
  ol.archives {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .languages {
  line-height: 1.5;
  }
  
  ul.languages {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  @media screen and (max-width: 800px) {
    ul.languages {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      list-style-type: none;
      list-style: none;
      padding-left: 2vw;
      margin: 0;
      margin-top: 1vw;
      margin-bottom: 2vw;
    }
    ul.languages li {
      margin-right: 2vw;
    }
  }

  .blogpost h2 {
    font-size: 2.5vw;
    background-color: black;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .blogpost p {
    font-size: 1.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    line-height: 1.5;
    text-align: justify;
  }
  
  .blogpost ul {
    font-size: 1.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vw;
    line-height: 2;
    text-align: justify;
    list-style: square;
  }
  
  .blogpost {
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    background-color: black;
    display: flex;
    flex-direction: column;
  }

  .blogpost h3 {
    margin-left: 2vw;
    margin-bottom: 0;
    font-size: 2vw;
  }
  
  .blogpost a {
    text-decoration: underline;
  }
  
  img.blogpost {
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 35vw;
    max-width: 100%;
    padding: 2vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
  }
  
  .caption {
    margin-top: 0;
    font-size: 1vw;
    margin-left: 2vw;
    margin-bottom: 0;
    align-self: center;
    text-transform: uppercase;
  }
  
  .blogpost .pubdatebox {
    margin-left: 2vw;
    font-size: 1vw;
  }
  
  .blogpost .pubdatebox p {
    margin-top: 0;
    margin-left: 0;
  }
  
  @media screen and (max-width: 800px) {
    .blogpost h2 {
      font-size: 5vw;
      background-color: black;
      padding: 3vw;
      margin-left: 0;
      margin-right: 0;
      padding-top: 2vw;
      padding-bottom: 4vw;
    }
  
    .blogpost p {
      font-size: 3.5vw;
      margin-left: 3vw;
      margin-right: 3vw;
      margin-top: 0;
      margin-bottom: 2vw;
      line-height: 1.5;
      text-align: justify;
    }

    .blogpost h3 {
      margin-left: 3vw;
      margin-bottom: 1vw;
      font-size: 4vw;
    }
  
    .blogpost ul {
      font-size: 3.5vw;
      margin-left: 3vw;
      margin-right: 3vw;
      margin-top: 1vw;
      line-height: 2;
      text-align: justify;
      list-style: square;
    }
  
    .blogpost {
      padding-top: 2vw;
      padding-bottom: 1vw;
      margin-bottom: 1vw;
      background-color: black;
      display: flex;
      flex-direction: column;
    }
  
    img.blogpost {
      -o-object-fit: contain;
         object-fit: contain;
      max-height: none;
      display: block;
      padding: 3vw;
      padding-bottom: 1vw;
      padding-top: 1vw;
    }
  
    .caption {
      margin-top: 0;
      font-size: 2vw;
      margin-left: 4vw;
      margin-right: 4vw;
      margin-bottom: 2vw;
      text-transform: uppercase;
    }
  
    .blogpost .filedunder {
      padding: 0;
      margin-top: 1vw;
      margin-left: 3vw;
      margin-right: 3vw;
      display: block;
      font-size: 3vw;
    }
  
    .blogpost .filedunder p {
      font-size: inherit;
      margin-top: 2vw;
      margin-bottom: 2vw;
      margin-left: 0;
    }
  
    .blogpost ol.tagbox {
      padding-left: 0;
      margin-top: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    .blogpost ol.tagbox a {
      text-decoration: underline;
    }
  
    .blogpost .pubdatebox {
      margin-left: 3vw;
    }

    .blogpost .pubdatebox p {
      font-size: 3vw;
    }

    .taglist a {
      text-decoration: underline;
    }
  }
  
  .taglist {
    background-color: black;
    padding: 2vw;
    margin-bottom: 2vw;
    margin-top: 0;
  }
  
  .taglist ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 1vw;
    margin-top: 0;
  }
  
  .taglist li {
    margin: 0.5vw;
  }
  
  .taglist a {
    font-size: inherit;
    text-decoration: none;
    position: relative;
    display: block;
    transition: font-size 1s;
  }

  .taglist a:hover {
    transform: scale(1.1);
  }

  .archive {
    background-color: black;
    padding: 2vw;
    margin-bottom: 2vw;
    margin-top: 0;
  }
  
  .archive ol {
    list-style: none;
    list-style-position: outside;
    padding-left: 0;
  }
  
  .archive a {
    text-decoration: underline;
  }

  .gutenberg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gutenbergposts {
    height: 20vw;
    overflow: scroll;
  }

  .gutenbergposts li {
    list-style: none;
    list-style-position: inside;
  }

  .writecomment, .writecommentdark {
    background-color: black;
    padding: 2vw;
    margin-bottom: 2vw;
  }

  .writecomment p, .writecommentdark p, .comment p, .mainflex label {
    font-size: 1.5vw;
  }

  .writecomment h3, .writecommentdark h3, .comment h3 {
    font-size: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .writecomment input, .writecomment textarea, 
  .writecommentdark input, .writecommentdark textarea {
    border: none;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-family: inherit;
    resize: none;
    transition-property: background-color;
    transition-duration: 0.25s;
    outline: none;
    padding: 1vw;
  }

  .writecomment input, .writecomment textarea {
    background-color: white;
    color: black;
  }

  .writecommentdark input, .writecommentdark textarea {
    background-color: #181b1c;
    color: white;
  }

  .writecommentdark input:focus, .writecommentdark textarea:focus {
    border: none;
    background-color: #2e2f30;
  }

  .beehive {
    display: none;
  }

  .comment {
    background-color: black;
    padding: 2vw;
    margin-bottom: 1vw;
  }

  .writecomment button, .writecommentdark button {
    border: 0;
    font-size: 1.5vw;
  }

  .writecomment button {
    background-color: white;
    color: black;
  }

  .writecommentdark button {
    background-color: #181b1c;
    color: white;
    padding: 1vw;
  }

  @media screen and (max-width: 800px) {
    .writecomment, .writecommentdark {
      background-color: black;
      padding: 3vw;
      margin-bottom: 2vw;
    }
  
    .writecomment p, .writecommentdark p, .comment p, .mainflex label {
      font-size: 3.5vw;
    }
  
    .writecomment h3, .writecommentdark h3, .comment h3 {
      font-size: 4vw;
      margin-top: 1vw;
      margin-bottom: 1vw;
    }
  
    .writecomment input, .writecomment textarea, 
    .writecommentdark input, .writecommentdark textarea {
      border: none;
      margin-top: 1vw;
      margin-bottom: 1vw;
      font-family: inherit;
      resize: none;
      transition-property: background-color;
      transition-duration: 0.25s;
      outline: none;
      padding: 1vw;
    }
  
    .writecomment input, .writecomment textarea {
      background-color: white;
      color: black;
    }
  
    .writecommentdark input, .writecommentdark textarea {
      background-color: #181b1c;
      color: white;
    }
  
    .writecommentdark input:focus, .writecommentdark textarea:focus {
      border: none;
      background-color: #2e2f30;
    }
  
    .beehive {
      display: none;
    }
  
    .comment {
      background-color: black;
      padding: 3vw;
      margin-bottom: 1vw;
    }

    .writecomment button, .writecommentdark button {
      border: 0;
      font-size: 3.5vw;
    }
  
    .writecomment button {
      background-color: white;
      color: black;
    }
  
    .writecommentdark button {
      background-color: #181b1c;
      color: white;
      padding: 2vw;
    }
  
  }

  
