@font-face {
    font-family: 'Archivo', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
    font-weight: normal;
    font-style: normal;
  }
  
  @-webkit-keyframes linkhover {
    from {color: inherit;}
    to {color: gray;}
  }
  
  @keyframes linkhover {
    from {color: inherit;}
    to {color: gray;}
  }
  
  @-webkit-keyframes darkmodeclick {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes darkmodeclick {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

  body {
    font-family: 'Archivo', sans-serif;
    color: white;
  }
  /* I swear to god I did this for a reason */
  body {
    transition: background-color 0.5s;
    background-color: #181b1c;
  }
  
  .darkheader {
    padding: 10vw;
    background-image: url(https://kylemetscher.com/images/paisano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Archivo', sans-serif;
    transition: background-image 0.5s;
  }
  
  .header {
    padding: 10vw;
    background-image: url(https://kylemetscher.com/images/bonneville.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Archivo', sans-serif;
    transition: background-image 0.5s;
  }

  a.headline {
    font-size: 2.5vw;
    font-weight: bold;
    padding-left: 2vw;
    display: inline-block;
  }
  
  h1 {
    color: white;
    background-color: black;
    font-size: 5vw;
    text-align: left;
    padding: 2.5vw;
    display: inline;
  }
  
  #bgcaption {
    background-color: black;
    margin: 0;
    padding: 1vw;
    font-size: 1vw;
  }

  .tagline {
    background-color: black;
    padding: 2vw;
    margin-top: 0;
    margin-bottom: 1vw;
    font-size: 3vw;
  }
  
  @media screen and (max-width: 800px) {
    h1 {
      color: white;
      background-color: black;
      font-size: 6vw;
      text-align: left;
      padding: 2.5vw;
      display: inline;
    }
  
    #bgcaption {
      display: none;
    }
  
  }
  
  nav ul {
    font-size: 1.5vw;
    margin-top: 0;
    padding: 1vw;
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  @media screen and (max-width: 800px) {
    nav ul {
      font-size: 4vw;
      margin-top: 0;
      margin-bottom: 1vw;
      padding: 2vw;
      background-color: black;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
    }
  }
  
  .container {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
  }
  
  @media screen and (max-width: 800px) {
    .container {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-direction: column;
    }
  }
  
  .mainflex {
    padding-right: 1vw;
    flex: 2 1 auto;
  }
  
  @media screen and (max-width: 800px) {
    .mainflex {
      padding-right: 0;
      flex: 2 1 auto;
    }
  }
  
  a:link, a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    -webkit-animation-name: linkhover;
            animation-name: linkhover;
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    color: gray;
  }
  
  .sidebarflex {
    padding: 1vw;
    padding-bottom: 2vw;
    flex: 1 0 10vw;
    background-color: black;
    flex-wrap: nowrap;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 1vw;
  }
  
  #darkmode {
    height: 4vw;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  #darkmode input {
    display: none;
  }
  
  .darkmodeswitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(https://kylemetscher.com/images/thesun.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .darkmodeswitch:active {
    -webkit-animation-name: darkmodeclick;
            animation-name: darkmodeclick;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }

  .switchedon:active {
    -webkit-animation-name: darkmodeclick;
            animation-name: darkmodeclick;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  
  .switchedon {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(https://kylemetscher.com/images/themoon.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  @media screen and (max-width: 800px) {
    .sidebarflex {
      padding: 1vw;
      background-color: black;
      flex-wrap: nowrap;
      align-self: stretch;
    }
  
    .sidebarflex h3 {
      margin-left: 2vw;
      margin-bottom: 0;
    }
  
    #darkmode {
      margin-top: 2vw;
      margin-left: 2vw;
      height: 6vw;
      width: 100%;
      display: block;
      position: relative;
    }
  
    #darkmode input {
      display: none;
    }
  
    #darkmodeswitch {
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: url(https://kylemetscher.com/images/thesun.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    input:checked ~ #darkmodeswitch {
      position: absolute;
      background-image: url(https://kylemetscher.com/images/themoon.png);
    }
  }
  
  .tags {
    max-height: 10vw;
    overflow: scroll;
    line-height: 1.5;
  }

  .post {
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    background-color: black;
  }
  
  .postpreview {
    padding-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    display: flex;
    align-items: flex-start;
    max-height: 20vw;
  }

  .filedunder {
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    font-size: 1vw;
  }
  
  .filedunder p {
    flex: 1 1 auto;
  }
  
  ol.tagbox {
    flex: 20 1 auto;
  
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  .pubdatebox {
    margin-left: 2vw;
    font-size: 1vw;
  }
  
  .pubdate {
    margin-top: 0;
  }

  .postslug {
    margin-top: 0;
    flex: 3 1 auto;
    padding-left: 1vw;
    font-size: 1.5vw;
    max-height: 20vw;
    overflow: hidden;
  }

  .featured {
    flex: 1 1 auto;
  }
  
   img.featured {
     max-height: 20vw;
  }
  
  @media screen and (max-width: 800px) {
    .tags {
      display: none;
    }

    a.headline {
      font-size: 5vw;
      font-weight: bold;
      padding-left: 3vw;
      display: inline-block;
    }
  
    .post {
      padding-top: 2vw;
      padding-bottom: 1vw;
      margin-bottom: 1vw;
      background-color: black;
    }
  
    .postpreview {
      padding-left: 3vw;
      margin-right: 3vw;
      margin-top: 2vw;
      display: flex;
      align-items: flex-start;
      max-height: 40vw;
    }
  
    .featured {
      flex: 1 2 1;
    }
  
     img.featured {
       max-height: 30vw;
    }
  
    .postslug {
      margin-top: 0;
      flex: 4 1 2;
      padding-left: 2vw;
      font-size: 3.5vw;
      max-height: 30vw;
      overflow: hidden;
    }
  
    #tagline {
      background-color: black;
      padding: 3vw;
      margin-top: 0;
      margin-bottom: 1vw;
      font-size: 5vw;
    }
  
    .filedunder {
      margin-left: 3vw;
      margin-right: 3vw;
      display: block;
      font-size: 3vw;
    }
  
    .filedunder p {
      margin-top: 2vw;
      margin-bottom: 2vw;
    }
  
    ol.tagbox {
      padding-left: 0;
      margin-top: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    ol.tagbox a {
      text-decoration: underline;
    }
  
    .pubdatebox {
      margin-left: 3vw;
      font-size: 3vw;
    }
  
    .pubdate {
      margin-top: 0;
    }
  }
  
  ol.tags {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  @media screen and (max-width: 800px) {
    ol.tags {
      display: none;
      list-style-type: none;
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
    .archives {
      list-style-type: none;
      list-style: none;
      padding-left: 2vw;
      padding-top: 1vw;
    }
  }
  
  .archives {
    max-height: 10vw;
    overflow: scroll;
    line-height: 1.5;
  }
  
  ol.archives {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .languages {
  line-height: 1.5;
  }
  
  ul.languages {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  @media screen and (max-width: 800px) {
    ul.languages {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      list-style-type: none;
      list-style: none;
      padding-left: 2vw;
      margin: 0;
      margin-top: 1vw;
      margin-bottom: 2vw;
    }
    ul.languages li {
      margin-right: 2vw;
    }
  }

  .blogpost {
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    background-color: black;
    display: flex;
    flex-direction: column;
  }

  img.blogpost {
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 35vw;
    max-width: 100%;
    padding: 2vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
  }
  
